/* Custom CSS for black theme */
body {
  background: #111;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 97.5vh;
}

.form__input {
  background: none;
  font-family: inherit;
  padding: 10px;
  border: 1px solid rgb(255, 255, 255, 0.2);
  border-radius: 3px;
  outline: none;
  width: 350px;
  margin-top: 5px;
  border-radius: 50px;
  color: #fff;
  transition: 0.5s;
}

.form__input::placeholder {
  color: #aaa;
}

.form__input:focus {
  border: 1px solid rgba(253, 253, 253, 0.514);
  border-radius: 6px;
}
