/* Custom CSS for black theme */
body {
  background-color: #000;
  color: #fff;
}

#content {
  text-align: center;
}

#searchbar {
  text-align: center;
}

.form__input {
  top: 50%;
  padding: 10px;
  border: 2px solid #A6A6A6;
  border-radius: 5px;
  font-size: 16px;
  width: 300px;
  background-color: transparent;
  text-align: center;
  color: #fff;
  transition: 0.5s;
}

.form__input::placeholder {
  color: #aaa;
  text-align: center;
}

.form__input:focus {
  border: 2px solid #FFFFFF;
  border-radius: 10px;
}
